<!DOCTYPE HTML >
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Jinja Templates Python - Exercise </title>
    <link rel="stylesheet" href="./static/main.css">
</head>
    <body>
        <h1> To jest nowy header w sekcji body </h1>
        <h2>To jest przykład wyrażenia Jinja {{5*6}}</h2>
        <h3>And this is a random number {{ numer }}</h3>

    <a href="{{url_for('get_blog', num=3)}}">Go To Blog </a>
    </body>
    <footer>
        <p>Copyrights by Artur {{rok}}</ps>
    </footer>
</html>